<table>
  <thead>
    <tr>
      <th *ngFor="let header of columnHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let row of data; let i = index"
      (click)="onRowClick(row)"
      [ngClass]="{ 'selected-row': isRowSelected(row) }"
      [style.background]="getRowColor(row) || (i % 2 === 0 ? 'var(--block-child-background)' : 'var(--block-background)')">
      <td *ngFor="let header of dataKeys">
        {{ row[header] }}
      </td>
    </tr>
  </tbody>
</table>