.selected-row {
  background-color: #e0e0e0 !important;
  font-weight: bold;
}

.selected-row:hover {
  background-color: #d0d0d0 !important;
}

/* Цвета для ролей */
.red {
  background-color: #ffcccc !important;
}

.blue {
  background-color: #cce5ff !important;
}

.yellow {
  background-color: #fff3cd !important;
}