<header>Добавить пользователя</header>
<main>
<form [formGroup]='addUserForm' (ngSubmit)='addNewUser()'>
    <div>
      <input type='text' placeholder='Логин' formControlName='userLogin' [ngClass]="{ invalid: getFieldErrors('userLogin') }" />
      <div *ngIf="getFieldErrors('userLogin')">
        <small *ngIf="getFieldErrors('userLogin')?.['required']">Логин обязателен</small>
        <small *ngIf="getFieldErrors('userLogin')?.['minlength']">Логин должен быть не менее 3 символов</small>
        <small *ngIf="getFieldErrors('userLogin')?.['maxlength']">Логин должен быть не более 20 символов</small>
        <small *ngIf="getFieldErrors('userLogin')?.['pattern']">Логин может содержать только буквы и цифры</small>
        <small *ngIf="getFieldErrors('userLogin')?.['loginExists']">Такой логин уже существует</small>
      </div>
    </div>

    <div>
      <input type='password' placeholder='Пароль' formControlName='userPassword' [ngClass]="{ invalid: getFieldErrors('userPassword') }" />
      <div *ngIf="getFieldErrors('userPassword')">
        <small *ngIf="getFieldErrors('userPassword')?.['required']">Пароль обязателен</small>
        <small *ngIf="getFieldErrors('userPassword')?.['minlength']">Пароль должен быть не менее 8 символов</small>
        <small *ngIf="getFieldErrors('userPassword')?.['noUpperCase']">Должна быть хотя бы одна заглавная буква</small>
        <small *ngIf="getFieldErrors('userPassword')?.['noLowerCase']">Должна быть хотя бы одна строчная буква</small>
        <small *ngIf="getFieldErrors('userPassword')?.['noNumber']">Должна быть хотя бы одна цифра</small>
        <small *ngIf="getFieldErrors('userPassword')?.['noSpecialChar']">Должен быть хотя бы один специальный символ</small>
      </div>
    </div>

    <div>
      <input type='text' placeholder='Имя' formControlName='userFirstName' [ngClass]="{ invalid: getFieldErrors('userFirstName') }" />
      <div *ngIf="getFieldErrors('userFirstName')">
        <small *ngIf="getFieldErrors('userFirstName')?.['required']">Имя обязательно</small>
        <small *ngIf="getFieldErrors('userFirstName')?.['minlength']">Имя должно быть не менее 2 символов</small>
        <small *ngIf="getFieldErrors('userFirstName')?.['maxlength']">Имя должно быть не более 50 символов</small>
        <small *ngIf="getFieldErrors('userFirstName')?.['pattern']">Имя может содержать только буквы, пробелы и дефисы</small>
      </div>
    </div>

    <div>
      <input type='text' placeholder='Фамилия' formControlName='userLastName' [ngClass]="{ invalid: getFieldErrors('userLastName') }" />
      <div *ngIf="getFieldErrors('userLastName')">
        <small *ngIf="getFieldErrors('userLastName')?.['required']">Фамилия обязательна</small>
        <small *ngIf="getFieldErrors('userLastName')?.['minlength']">Фамилия должна быть не менее 2 символов</small>
        <small *ngIf="getFieldErrors('userLastName')?.['maxlength']">Фамилия должна быть не более 50 символов</small>
        <small *ngIf="getFieldErrors('userLastName')?.['pattern']">Фамилия может содержать только буквы, пробелы и дефисы</small>
      </div>
    </div>

    <div>
      <input type='text' placeholder='Отчество (необязательно)' formControlName='userPatronymic' [ngClass]="{ invalid: getFieldErrors('userPatronymic') }" />
      <div *ngIf="getFieldErrors('userPatronymic')">
        <small *ngIf="getFieldErrors('userPatronymic')?.['minlength']">Отчество должно быть не менее 2 символов</small>
        <small *ngIf="getFieldErrors('userPatronymic')?.['maxlength']">Отчество должно быть не более 50 символов</small>
        <small *ngIf="getFieldErrors('userPatronymic')?.['pattern']">Отчество может содержать только буквы, пробелы и дефисы</small>
      </div>
    </div>

    <div>
      <input type='date' placeholder='Дата рождения' formControlName='userBirthday' [ngClass]="{ invalid: getFieldErrors('userBirthday') }" />
      <div *ngIf="getFieldErrors('userBirthday')">
        <small *ngIf="getFieldErrors('userBirthday')?.['required']">Дата рождения обязательна</small>
        <small *ngIf="getFieldErrors('userBirthday')?.['invalidDate']">Некорректная дата</small>
        <small *ngIf="getFieldErrors('userBirthday')?.['underAge']">Пользователь должен быть старше 18 лет</small>
      </div>
    </div>

    <button type='submit' [disabled]='addUserForm.invalid'>Добавить</button>
  </form>
</main>
