.wrapper {
  position: relative;
}

.layout {
  display: flex;
}

main {
  position: fixed;
  flex-grow: 1;
  padding: 1rem;
  box-shadow: inset 0 0 15px black;
  height: 780px;
  left: 200px;
  width: 1679px;
}
