/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: 'Open Sans 700', sans-serif;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-indigo-500: rgb(63, 81, 181);
    --block-background: white;
    --block-border-color: rgb(235, 235, 235);
    --focus-color: rgb(63,81,181);
    --block-child-background: 3gb(236,236,236)
    --block-child-border-color: #1c2430;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-thumb-border);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }

  .pink-theme-button {
    margin-left: 8px;
  }

  .pink-theme-button:hover svg {
    transform: scale(1.1);
    fill: #ff69b4;
  }

  body.pink-theme {
    --text-color: #8a2be2;
    --block-child-border-color: #ff69b4;
    --block-child-background: #ffdee9;
    --focus-color: #ff1493;
    background-color: #ffdee9;
    color: #8a2be2;
  }

  body.pink-theme .theme-switcher__button {
    border-color: #ff69b4;
    color: #8a2be2;
  }

  body.pink-theme .theme-switcher__button:hover svg {
    fill: #8a2be2;
  }